.settings/
.myeclipse/
.gradle/
target/
*/.settings
*/.classpath
*/.project
.classpath
.project
.idea/
.svn/
.externalToolBuilders/
gradle/
.recommenders/
.metadata/
build/
*/node_modules
node_modules
/api/*.iml
*.iml
/supplier/APP_ROOT_IS_UNDEFINED/var/logs/supplier.log
/job/APP_ROOT_IS_UNDEFINED/var/logs
/logs/*
/data/*
/*/target/*
/bin/
*.prefs
APP_ROOT_IS_UNDEFINED/var/
supplier/APP_ROOT_IS_UNDEFINED/
logPath_IS_UNDEFINED
*.plantuml
/nfms-web/src/main/java/com/newretail/financial/nfms/config/SwaggerConfig.java
